<div class="container">
  <div fxLayout="row" class="user"></div>
  <div class="top-header">
    <div class="logo">
      <img [routerLink]="['/']" src="assets/img/ukbglogo.png" alt="" />
    </div>
  </div>
  <mat-toolbar fxLayout="column" class="t-bar">
    <div class="menu">
      <button mat-flat-button color="primary">
        <a [routerLink]="['/office-detail']">DEV Info Page</a>
      </button>
      <button mat-flat-button color="primary">
        <a [routerLink]="['/offices']">Find My Local Register Office</a>
      </button>
      <button mat-flat-button color="primary">
        <a [routerLink]="['/grieving']">Grieving Test</a>
      </button>

      <span class="right-align"></span>
    </div>
  </mat-toolbar>
</div>
