<app-header></app-header>

<body>
  <div>
    <div class="header">
      <div class="header-text">
        <h1>CITY_NAME Local Services and information</h1>
        <h2 style="font-family: Lato !important">
          Please browse through all the sections as there are a lot of things to be taken into consideration. Within the sections, you will
          find links to local businesses that can help, such as florists, venues, solicitors, estate agents and funeral directors. These
          businesses have been carefully selected, to offer you the best possible services and in some cases, preferential treatment and are
          very professional.
        </h2>
        <div class="line-break"></div>
        <h1 style="margin-top: 80px">
          You can find your nearest Register Office <br />
          and contact details below
        </h1>
      </div>
    </div>
    <div class="main-content">
      <div class="container">
        <div class="event-of-death white-content">
          <h1 class="center-text">In the event of a death</h1>
          <div class="line-break"></div>
          <div fxLayout="row" class="sub-content">
            <div fxFlex="80" class="sub-content-text_left">
              <h2>How long to register a death in CITY_NAME</h2>
              <p>
                In the event of a death the law states the death must be registered within 5 days, unless an inquest has been called then it
                will be at the discretion of the coroner. The reporting of the death must be made by a relative, a person present at the
                time of death or the person who’s dwelling/site where the body was discovered. When a death occurs it must be registered at
                the District Register Office of the town/city it took place.
                <br />
                <br />
                When registering the death to the registrar you will be asked questions regarding the deceased family etc. Check all answers
                given before you sign the register to prevent mistakes being made. You will be given a Green Form which grants the
                permission of the funeral and a form for Social Security purposes. Additional copies of certificates can be provided upon
                request at a set fee. If the coroner is involved there will be a different set of procedures, they will inform you of which
                at the time.
              </p>
              <h2>Unexpected Death</h2>
              <p>
                When a death occurs in a hospital, the chosen next of kin of the deceased will be contacted by hospital staff. The deceased
                body will be kept in the hospital mortuary until the executors make the necessary arrangements, their possessions will be
                kept securely until the next of kin can collect them. If you wish you can ask to see the Hospital Chaplain.
              </p>
              <h2>If you discover a body you should contact:-</h2>
              <p>
                The Police, who will also help to find the relatives etc <br />
                If known, the Deceased’s Relatives<br />
                If known the Deceased’s Family Doctor <br />
                <br />
                If there is a reason to suspect that death was not from a natural cause, you must ensure not to touch or remove anything
                from the deceased or the surrounding areas. The death may be referred to the coroner for a post-mortem examination, if
                agreed to by the next of kin, then this will provide the cause of death. In some cases, this will mean that the funeral
                cannot take place until authorised by the coroner.
              </p>
              <h2>If a death is expected</h2>
              <p>
                In the case of an expected death, you should contact the doctor of the deceased, so he/she can certify the cause of death
                and he/she will be able to give you the necessary documents: <br />
                Medical Certificate – Cause of death <br />
                Formal Notice – This is to confirm the doctor has signed the medical certificate and advises you on how to register the
                death
                <br />
                <br />
                If a death is followed by illness, such as AIDS or HIV, there may be special rules for the handling of the deceased body.
                There are a number of organisations which can advise you on this: <br />
                Terence Higgins Trust <br />
                FACTS Health Centre <br />
                Unexpected Death <br />
                London Lighthouse
              </p>
              <h2>If the Death has to be registered with a Coroner</h2>
              <p>
                In the following circumstances the doctor may report a death to the coroner to clarify the actual cause of death: <br />
                An accident or injur br y During a surgical operation <br />
                Before recovery from anaesthetic <br />
                By industrial disease (i.e. asbestosis or mesothelioma) <br />
                The death was sudden or unexpected <br />
                <br />
                If the cause of death is unknown The coroner will examine the deceased and determine the actual cause of death and will
                release the body once it is satisfied with the inquest. A certificate will be issued at the beginning of the inquest to
                enable the funeral to take place. You will be informed of the full process by the coroner’s office.
              </p>
            </div>
            <div class="right-ads-images" fxFlex>
              <img src="/assets/img/blood.jpg" alt="" />
              <img src="/assets/img/heart.jpg" alt="" />
              <img src="/assets/img/Macmillan.jpg" alt="" />
              <img src="/assets/img/Samaritans-Number.jpg" alt="" />
              <img src="/assets/img/Finding-the-words-cover-1-564x800.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="container-full red-content">
        <div class="container advice-probate" style="padding-bottom: 30px">
          <h1 class="center-text">Advice and Probate</h1>
          <div class="line-break-white"></div>
          <div fxLayout="row" class="sub-content">
            <div>
              <img style="width: 570px" src="assets/img/19-will-image.jpg" alt="" />
            </div>
            <div fxFlex class="sub-content-text_right">
              <p>
                There are legal obligations which must be completed after a death and some can be very complex with very specific needs
                which will require the assistance of a solicitor. It is advised that you contact a solicitor at your earliest convenience.
                If there is an estate then a probate professional will help you understand what exactly you need to do and will explain the
                process in full. You will want an estate to be dealt with professionally and carefully as this can be such a delicate
                subject with family members. When choosing a company to use ensure they are a member of STEP (Society of Trust and Estate
                Practitioners). <br />
                <br />
              </p>
              <p>Please be aware that this process can be quite lengthy.</p>
            </div>
          </div>
          <div>
            <h2>If there is no will?</h2>
            <p>
              If someone dies without making a will, they are said to have died ‘intestate’. If this happens, the law sets out who should
              deal with the deceased’s affairs and who should inherit their estate (property, personal belongings and money). <br />
              <br />
              We recommend you use a local firm that has all the credentials and are members of the correct governing bodies. Please feel
              free to contact any business that you see featured on this website for preferential treatment, simply tell them where you saw
              their details.
            </p>
            <h2 style="padding-top: 15px">Financial Advice</h2>
            <p>
              The deceased’s financial affairs will usually be taken care of by a will executor, trustee or an estate administrator. This
              may involve a said amount of money or property to be handled and distributed to any beneficiaries. <br />
              <br />
              The beneficiaries may be of any age and the young aren’t prepared for the receiving of an amount of money and will probably
              need to be guided in some way by a responsible or professional person or a mature relative. If there is any doubt as to
              financial implications it is recommended that you seek financial advice from a professional company, ensuring that the company
              has all the right credentials to handle inherited monies or property. There may be an advertisement next to this section then
              please feel free to contact them for preferential treatment, simply mention the UK Bereavement Group.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="event-of-death white-content">
          <h1 class="center-text">Funeral Arrangements</h1>
          <div class="line-break"></div>
          <div class="sub-content">
            <div class="sub-content-text_left">
              <p>
                Arranging a funeral is an exceptional event in most people’s lives. When someone dies it comes as a great shock and nothing
                prepares you for the emotional distress of losing someone very close. At a time of great personal grief, there are many
                arrangements to be made and legal requirements to be met. <br />
                <br />
                Every funeral is a unique event. By entrusting the arrangements to a funeral director you will alleviate much of the anxiety
                associated with the care of the deceased, complying with legal requirements and making the arrangements. They can advise and
                discuss all aspects of the funeral and you can then rest assured that the arrangements will be carried out to your wishes in
                a respectful and professional manner.
              </p>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="80" class="sub-content-text_left">
              <h2>Floral Tributes</h2>
              <p>
                Saying goodbye to someone you care about is, of course, not easy. But it can often be extremely fitting to pay tribute to
                ones you have lost by sending some beautiful funeral flowers. <br />
                <br />
                Because of the freedom of expression traditionally afforded when giving funeral flowers, you have plenty of scope to lend
                your bouquet a personal touch. You might want to incorporate your own memorial objects into an arrangement, for example – or
                mix an unusual flower particularly beloved by the deceased. A local florist will be able to assist in all matters regarding
                the floral arrangements.
              </p>
              <h2>Masonry Tributes</h2>
              <p>
                Creating a lasting memorial when choosing a headstone/stone tribute is essential for many people and is a very important
                decision that will reflect the person who has passed. A mason will help you with your choice and you can ask for advice on
                materials, inscriptions and designs as well as local regulations and restrictions. You should make contact as soon as
                convenient to ensure the tribute will be ready for the funeral. <br />
                <br />
                As will all trades masons are regulated by a couple of governing bodies such as the National Association of Memorial Masons
                and or the British Register of Accredited Memorial Masons, who ensure the highest standards of craftsmanship and
                professionalism within the industry. Always look for accreditations for any business that you are thinking of using their
                services for peace of mind.
              </p>
            </div>
            <div class="right-ads-images" style="padding-top: 30px" fxFlex>
              <img src="assets/img/floral-tribute-1.jpg" alt="" />
              <img src="assets/img/masonry-tribute.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="container-full red-content">
        <div class="container advice-probate" style="padding-bottom: 30px">
          <h1 class="center-text">Wake or Tea</h1>
          <div class="line-break-white"></div>
          <div fxLayout="row" class="sub-content">
            <div>
              <img style="width: 670px" src="assets/img/funeral-catering-1.jpg" alt="" />
            </div>
            <div fxFlex class="sub-content-text_right">
              <p>
                Traditionally a wake or funeral tea follows a funeral and is a gathering of family and friends to remember the life of the
                deceased. As a wake or funeral tea is a planned a short notice then you may need to take certain things into consideration.
                These being the size of the venue, catering choices and arrangements, will you require a bar, disabled access, car parking,
                food allergy or the possibility of accommodation for family or friends who may live out of the area and will be attending.
                <br />
                <br />
                A local hotel will be accustomed to funeral arrangements and short notice for accommodation. Call the number of the hotel
                advertised and they will be only too glad to help with all your requirements.
              </p>
            </div>
          </div>
          <div>
            <h2 style="padding-top: 30px" class="center-text">Catering Specialists</h2>
            <p>
              You may require the services of a local catering company to assist when you are choosing a venue and date of the wake or
              funeral tea. They will gladly assist in the providing choices and make suggestions as to what you may require. Always make a
              point of discussing costs and potential food types or allergies before you go ahead and book the order as mistakes later are
              harder to rectify. We may have sourced a local catering specialist for you to talk to and a direct link from this site, please
              click on the commercial opposite.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="event-of-death white-content">
          <h1 class="center-text">Financial</h1>
          <div class="line-break"></div>
          <div class="sub-content">
            <div class="sub-content-text_left">
              <h2>Property Experts</h2>

              <p>
                A property left in a will is usually the most valuable part of an estate. The property will need to be valued to ascertain
                its true value for probate purposes. There may be an amount of inheritance tax to pay on the value of the property. The
                property will be sold and the money will be divided as per a will or at the discretion of the lead family member. If the
                deceased has any outstanding care or nursing costs the fees may be taken from the capital of the property before being
                distributed accordingly. <br />
                <br />
                The assistance of an Estate Agent will be required to sell the property. You should choose a local Estate Agent to vale the
                property as they will be able to give advice on the current market trends and provide an accurate valuation at a nominal
                fee. The cost of the sale will be deducted money returned by the property. <br />
                <br />
                We endeavour to find a local Estate Agent of which you can contact and they may appear in the advertisement section
                opposite. They will be able to advise you on the whole process and are professionals in this area. When using an Estate
                Agent check they are covered by their relevant governing bodies such as the OEA (Ombudsmen of Estate Agents), NAEA (National
                Association of Estate Agents) or RICS (Royal Institution of Chartered Surveyors).
              </p>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="80" class="sub-content-text_left">
              <h2>Tax Help</h2>
              <p>
                The deceased may have had a number of incomes or investments or even as a self-employed/employee that they have being pay
                tax on. You must inform the Tax Office as soon as possible about the death, you can click the link here. Doing this will
                enable the deceased person’s tax affairs to be settled accordingly. This may include the claiming of some tax repayments
                depending on the person’s circumstances. You may require the services of a Financial Advisor or an Accountant to help deal
                with this matter. You will find that a local firm will be familiar with the local tax office and will have a direct contact
                and can make the process a lot easier. <br />
                <br />
                They will assist you in the legalities and complexities of deceased tax or business interests. A recommended business may
                feature next to this section for you to call who will help with these matters and will give you preferential treatment when
                you mention you found them on RegisteraDeath.co.uk website.
              </p>
              <h2>Auctioneers & Valuers</h2>
              <p>
                In some cases, there may be property left with contents and valuables that may be of financial value which may have to be
                valued for probate purposes. Items such as jewellery, furniture, ornaments etc. are all objects which may be of value and
                therefore will need to be valued. If this is the case a firm of qualified Auctioneers and Valuers will be able to help
                obtain an accurate valuation or insurance purposes. Qualified local Auctioneers and Valuers will be happy to assist you and
                will offer advice and help on what to do next and make suitable arrangements to visit the property at a convenient time.
                Please call the number on the advertisement for a no obligation conversation and advice.
              </p>
            </div>
            <div class="right-ads-images" style="padding-top: 30px" fxFlex>
              <img src="assets/img/floral-tribute-1.jpg" alt="" />
              <img src="assets/img/masonry-tribute.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="container-full red-content">
        <div class="container advice-probate" style="padding-bottom: 30px">
          <h1 class="center-text">Nursing / Care / Rest Homes</h1>
          <div class="line-break-white"></div>
          <div fxLayout="row" class="sub-content">
            <div>
              <img style="width: 570px" src="assets/img/19-will-image.jpg" alt="" />
            </div>
            <div fxFlex class="sub-content-text_right">
              <p>
                There may come a time when a relative needs to be cared for professionally and re-located to a rest/care home. These homes
                are able to provide the relevant short-term respite care or long-term care dependant on the family’s requirements and the
                individual’s needs.
                <br />
                <br />These homes are there to accommodate the difficult circumstances that an individual may be having and are
                professionally trained and governed by professional bodies. The CQC (Care Quality Commission) monitors, inspects and
                regulates hospitals, care homes, GP surgeries, dental practices and other care services to make sure they abide by the rules
                and standards set by them. A local home will be able to discuss the needs of the individual and give you the options
                available to you and an idea of the costs involved. <br />
                <br />
                Please call the number on the commercial opposite and speak to a professional today.

                <br />
                <br />
              </p>
            </div>
          </div>
          <div>
            <h2>Professional Counselling</h2>
            <p>
              Bereavement counselling is a specialised type of counselling that involves supporting individuals who have experienced the
              loss of a loved one. This counselling helps them work through their grief as well as perhaps learn coping mechanisms to help
              them when they are on their own. Bereavement counselling is recommended for anyone, of any age, whose loss seems overwhelming
              or whose life is being adversely affected by their grief. <br />
              <br />

              Turning to bereavement counselling after the loss of a loved one is not an admission of weakness, but instead, it is an
              admission of the strength to seek help when it is needed. Whether it be one-on-one with a private therapist or in a group
              setting, counselling aims to help an individual explore his or her emotions. At the first meeting, the bereaved will likely be
              asked about his or her loss, about his or her relationship to the deceased, and about his or her own life now that person has
              lost a loved one. Answering these questions often means tapping into sadness or anger, so emotional outbursts should not be
              censored. Crying and yelling may come naturally during bereavement counselling and certainly will not offend the counsellor.
            </p>
            <h2>Call a professional today if you or somebody you know will benefit from the help of a counsellor.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
