<div class="container">
  <div class="cardList">
    <ng-container *ngFor="let post of posts; let i = index">
      <div *ngIf="i < 4" class="cardListItem">
        <mat-card matRipple [routerLink]="['/blog', post.id]" appMaterialElevation raisedElevation="16" fxflex>
          <mat-card-header>
            <mat-card-title>{{ post.title.rendered }}</mat-card-title>
            <div *ngIf="post.title.rendered <= 10"><br /></div>
            <mat-card-subtitle>{{ post.date | date: 'EEEE,  MMMM d , y' }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{ post.featured_image }}" alt="blog post image" />
          <button mat-flat-button color="primary">View Post</button>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
