/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Montserrat Alternates', sans-serif !important;
}

h2,
h3,
h4 {
  font-family: 'Lato', sans-serif !important;
}
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
