<body>
  <app-header></app-header>
  <div class="container">
    <div class="hero">
      <div class="hero-header" fxLayout="column" fxFlex="65">
        <h1>The UK Bereavement Group</h1>
        <h2>Here to help you find the services you need</h2>
        <h2>Search for your local services</h2>
        <div class="search-form">
          <mat-form-field appearance="outline" class="example-form-field">
            <input matInput type="text" [(ngModel)]="value" />
          </mat-form-field>
          <br />
          <button color="primary" mat-stroked-button>Search</button>
        </div>
      </div>
      <div fxFlex></div>
    </div>
    <app-blogs></app-blogs>

    <div class="container-70">
      <h1 style="text-align: center">
        Our mission statement is “Raising the awareness of the help that is available before and after a death”. <br />
        This web site is the product of research gathered for the purpose of bringing all the relevant information to the general public in
        a single place which is both free and comprehensive in material.
      </h1>
    </div>

    <div fxLayout="row" class="help-sections" fxLayoutGap="10px">
      <div fxFlex>
        <mat-card class="example-card">
          <img mat-card-image src="assets/img/maxresdefault.jpg" alt="Photo of a Shiba Inu" />
          <mat-card-content>
            <h2>Grief comes in many forms. UKBG offers a comprehensive list of services to help you in your time of grief.</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex>
        <mat-card class="example-card">
          <img mat-card-image src="assets/img/maxresdefault.jpg" alt="Photo of a Shiba Inu" />
          <mat-card-content>
            <h2>Grief comes in many forms. UKBG offers a comprehensive list of services to help you in your time of grief.</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex>
        <mat-card class="example-card">
          <img mat-card-image src="assets/img/maxresdefault.jpg" alt="Photo of a Shiba Inu" />
          <mat-card-content>
            <h2>Grief comes in many forms. UKBG offers a comprehensive list of services to help you in your time of grief.</h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <app-samaritans></app-samaritans>
  </div>
  <app-footer></app-footer>
</body>
