<body>
  <app-header></app-header>
  <div class="container">
    <div class="search">
      <div fxLayout="row">
        <div>
          <p fxFlex="20%" class="mission-statement">
            Our mission statement is “Raising the awareness of the help that is available before and after a death”. This web site is the
            product of research gathered for the purpose of bringing all the relevant information to the general public in a single place
            which is both free and comprehensive in material.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
